/*Changing the background color and setting the font color to white.*/

.container{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.iClock{
    /* Better way to align, is more dinamic*/
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 140px;   
}

.iDate{
    color: white;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
}

/* radial background */
html{
    /*                                 H   W   form      position */
    background-image: radial-gradient(50% 50% ellipse at center , #222122 15%, #121016 100%);
    background-attachment: fixed;
    color: #081114;
}