html{
    /* to remove  that ugly border */
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/7991180/pexels-photo-7991180.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    
}
  
.container {
    text-align: center;
    padding: 20px;
}
  
.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}
  
  
body > div  >img {
    margin: 0 10px;
}
  
img {
    height: 250px;
    width: 169px;
}
  
.movies-poster{
    border: #000000 solid 4px;
    font-size: 40px;
}
.input-box{
    background-color: rgba(0, 0, 0, 0.11);
    border: #00000070 solid;
    border-radius: 0.6em;
    text-align: center;
}